body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.elsTitle {
  color: #fff;
  font-size: 4rem;
  font-family: "Nunito";
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nunito";
  background: linear-gradient(
    to right,
    #335c49 10%,
    #2e9a68 50%,
    #bebf33 40%,
    #ffffff 20%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .elsTitle {
    margin-top: 320px;
    animation: textclip infinite 10s linear;
  }
}
